#contents{
  position:relative;
  text-align: center;
  margin: 0 auto;
  font-family: 'Coda';
}

#contents a:link {
  color:#FFF;
}

#contents a {
  color:#FFF;
  text-decoration:none;
}


input{
  width: 80%;
  margin: 50px auto 0;
}

input[type = "submit"] {
  display: block;
  width: 60%;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin-bottom: 80px;
}

input[type = "submit"]:hober{
  background-color: rgba(255, 255, 255, 0.05);
}

input[type = "text"]{
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

textarea{
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

body{
  margin-top: 50px;
  background-color: #333;
}

#link {
  position: fixed;
  font-size:    85%;
  text-align:    left;
  right: 10%;
  bottom: 40px;
  font-family: 'Coda';
}

#link a:link {
  color:#FFF;
}

#link a {
  color:#FFF;
  text-decoration:none;
}

#link a:hover{
  color:#FF6535;
}

/* ========FOOTER CUSTOMIZE======== */

#footer {
  position:fixed;
  right:0;
  bottom:0;
  height:20px;
  padding:0 20px;
  background:#222;
  font-family: 'Coda';
}

.copyright {
  position:    relative;
  padding-top:    3px;
  font-size:    70%;
  text-align:    center;
}

#footer a:link {
  color:#FFF;
}

#footer a {
  color:#FFF;
  text-decoration:none;
}
