ul li {
    list-style: none;
    margin-top: 10px;
}

ul li.msg {
    margin-bottom: 40px;
}

label {
    margin-right: 10px;
    width:100px;
    float: left;
}

ul {
    margin: 0 auto;
}


input[type = "submit"] {
    display: block;
    margin: 0 auto;
    background: #c6ffff;
    color: #333;
    border-radius: 5px;
    padding: 10px 40px;
}

input{
  display: block;
  margin: 0 auto;
}
